@import "_nullstyle.scss";

$base-color: #38404B;
$light-color: #94ADCF;
$neutral-color: #777272;

body{
	font-family: 'Ubuntu', sans-serif;
	background: $base-color;
	width: 100%;
	color: $light-color;
}

button{
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}
//**main
.todo-list {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		margin: 50px 0 0 0;
	}

	&__body{
		width: 450px;
		@media (max-width: 576px) {
			width: auto;
		}
	}

	&__tittle{
		font-size: 30px;
		font-weight: 700;
		margin: 0 0 15px 0;
	}

	&__new-task {
	}

	&__message{
		padding: 20px 0;
		font-size: 15px;
		color: #a6dbad;
	}
	&__tasks {
		border: 1px solid $light-color;
		border-radius: 16px;
		padding: 15px;
	}
}

//**new task
.new-task {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
		background: $base-color;
		box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
		border-radius: 16px;
		margin: 0 0 60px 0;

	&__input {
		font-family: 'Ubuntu', sans-serif;
		width: 80%;
		padding: 0 0 0 12px;
		font-size: 14px;
		font-weight: 400;
		color:  $light-color;
		background: transparent;
		outline: none;
		border: none;
		&::placeholder {
			font-family: 'Ubuntu', sans-serif;
			font-size: 12px;
			font-weight: 400;
		}
		&:focus::-webkit-input-placeholder{
			color:transparent;
		}
	}

	&__btn {
		padding: 5px 15px;
	}
}

//**block with added tasks
.task {
	cursor: move;
	&:not(:last-child){
		margin: 0 0 15px 0;
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 15px;
		height: 60px;
		background: #38404B;
		box-shadow: 1px 1px 2px rgba(64, 74, 86, 0.3), -1px -1px 2px rgba(48, 54, 64, 0.5), inset -5px 5px 10px rgba(48, 54, 64, 0.2), inset 5px -5px 10px rgba(48, 54, 64, 0.2), inset -5px -5px 10px rgba(64, 74, 86, 0.9), inset 5px 5px 13px rgba(48, 54, 64, 0.9);
		border-radius: 16px;
		@media (max-width: 576px) {
			height: 45px;
		}
	}
}
.task.over{
	border: 1px dashed #94ADCF;
	border-radius: 10px;
	padding: 5px;
}
.time{
	display: flex;
	justify-content: flex-start;
	font-size: 10px;
	color: $neutral-color;
	margin: 0 0 5px 5px;
}
.label {
	display: flex;
	align-items: center;
}
.checkbox {
	display: none;
}
.check {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 3px solid $light-color;
	border-radius: 50%;
	position: relative;
	margin: 0 10px 0 0;
	cursor: pointer;
}

.checked {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: $light-color;
}

.text {
	font-size: 14px;
	font-weight: 400;
	@media (max-width: 576px) {
		font-size: 12px;
	}
	&[contentEditable]{
		border: 1px solid $neutral-color;
		border-radius: 8px;
		padding: 10px;
		
	}
}

.btns {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

}
.edit {
	margin: 0 10px 0 0;
}
.delete {
}

.confirm {
	position: absolute;
	top: 0;
	right: 0;
	background-color: $base-color;
	border: 1px solid #94ADCF;
	border-radius: 8px;
	width: 100px;
	button{
		padding: 10px;
	}
	h3{
		padding: 10px;
		color: $neutral-color;
	}
		&__yes {
			color: #a6dbad;
		}

		&__no {
			color: #b36e6e;
		}
		display: none;
}

.active{
	display: block;
}
.hide{
	display: none;
}

.completed{
	text-decoration: line-through;
}
//**sort
.sort {
	display: flex;
	align-items: center;
	color: $neutral-color;
	font-size: 14px;
	margin: 0 0 5px 5px;
	& h3{
		margin: 0 7px 0 0;
		font-weight: 700;
	}
	button{
		color: $neutral-color;
		&:not(:last-child){
			margin: 0 5px 0 0;
		}
	}
}

.selected {
	opacity: 0.6;
}